NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZleXNya2FydWxuY2NqZ3VpdXloIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDMxMTA0MCwiZXhwIjoyMDg5ODg3MDQwfQ.W4gli9rpXrjJiXAyikxXnmJizkG5WDX1ipuK87YuV9Y

NEXT_PUBLIC_SHOW_AD_PLACEHOLDERS=false

RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=Blackout Network <notifications@yourdomain.com>
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
VAPID_SUBJECT=mailto:you@yourdomain.com
